@import "./reset.less";

@bigHeadingSize: 70px;
@regularHeadingSize: 30px;
@smallHeadingSize: 25px;
@normalFontSize: 15px;

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.big-heading {
  font-size: @bigHeadingSize;
  font-weight: bold;
  line-height: 1;
}

.small-heading {
  font-size: @smallHeadingSize;
  line-height: 1.4;
}

.regular-heading {
  font-size: @regularHeadingSize;
  line-height: 1;
  font-weight: bold;
}

.normal-font {
  font-size: @normalFontSize;
  line-height: 1.4;
  color: gray;
}

.header {
  height: 500px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10%;

  .group {
    max-width: 560px;

    h1 {
      .big-heading();
    }

    p {
      .small-heading();
    }

    hr {
      margin: 30px 0;
    }

    .icon-group {
      display: flex;

      i {
        font-size: 3em;
        color: white;
        margin-right: 16px;
      }
    }
  }
}

.intro {
  display: flex;
  padding: 10% 10%;

  h2 {
    .regular-heading;
  }
  p {
    .normal-font;
  }
}
